@import 'src/styles/main';
.filter{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 30;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  .content{
    background-color: #fff;
    height: 100vh;
    width: 360px;
  }
  .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
  }
  .hr{
    border: 1px solid #F0F0F0;
    margin: 0;
  }
  .wrapper{
    padding: 24px;
  }
  .text{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color:#56657F;
  }
  .input{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color:#1C212D;
    border:none;
    outline: none;
    background-color: #f5f6f8;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  .wrapperForm{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    z-index: 2;
  }
  .form{
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons{
    display: flex;
    justify-content: flex-end;
    .button{
      margin-left: 12px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding: 10px 24px;
      color:#8C97A1;
      border:none;
      background-color: transparent;
      border-radius: 4px;
      transition: all .5s;
      &:hover{
        background-color: $button-color;
        color:#fff;
        cursor: pointer;
      }
    }
  }
}
