$main-color: #FF4500;

$main-turquoise-color: #47C897;

$main-blue-color: #1976D2;

$white-color: #FFFFFF;
//Font-colors
$bg-color: #F3F6F9;
$black-font-color: #1C212D;
$text-secondary-color: #8C97A1;
$gray-color: #F5F6F8;
$text-third-color: #52575C;
$gray-fourth-color: #EBEFF2;
//Button-colors

$button-hover-color: #DC3C00;

$modal-closing-button : #BDBDBD;

$breadcumbs-button-color: #56657F;
$bg-color: #F3F6F9;
$button-color: #FF4500;

//Status-component-colors

$status-component-not-working-background: #F4F5F6;

$status-component-waiting-background: #FEF7EE;
$status-component-waiting-border: #F4A74C;

$status-component-ended-background: #EDF3FC;
$status-component-ended-border: #4583DB;

$status-component-error-background: #FFEDED;
$status-component-error-border: #FF4444;

$status-component-working-background: #EDFAF5;

