@import "src/styles/main";

.databaseAlert  {
  filter: drop-shadow(0px 6px 18px rgba(1, 74, 147, .14));
  width: px-to-rem(528px);
  min-height: px-to-rem(204px);
  border-radius: $main-border-radius;

}

.hiddenDatabaseAlert  {
  display: none;
}

.header {
  font-family: 'Poppins', sans-serif;
  padding: 24px;
  max-width: px-to-rem(480px);
  min-height: px-to-rem(16px);
  background: $white-color;
  font-weight: 600;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(16px);  
  border-bottom: 1px solid $gray-fourth-color;
  border-top-left-radius: $main-border-radius;
  border-top-right-radius: $main-border-radius;
}


.content  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 24px 24px 24px;
  max-width: px-to-rem(480px);
  min-height: px-to-rem(87px);
  background: $white-color;
  border-bottom-left-radius: $main-border-radius;
  border-bottom-right-radius: $main-border-radius;
}

.contentText  {
  font-family: 'Poppins', sans-serif;
font-size: px-to-rem(14px);
font-weight: 400;
line-height: px-to-rem(20px);
padding-bottom: px-to-rem(35px);
}

.buttons  {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: end;
}