@import "src/styles/main";
.sessions {
  display: flex;
  background-color:#F3F6F9;
  .contents {
    width: 100%;
  }
  .buttonsFilter{
    display: flex;
    margin-right: 24px;
  }
  .filtersWrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }
  .playWrapper{
    display: flex;
    padding-left: 24px;
    border-left:1px solid #DEE4E9;
  }
  .playButton{
    background-color: #fff;
    margin-right: 12px;
  }
  .isRowSelected{
    margin-right: 12px;
  }
  .inputSearch{
    width: 69%;
  }
  .filterButton{
    margin-left: 12px;
  }
  .headerWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0 16px 10px;
  }
  .text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color:#1C212D;
  }
  .select{
    width: 4%;
  }
  .status{
    width: 12%;
  }
  .login{
    width: 16%;
  }
  .template{
    width: 20%;
  }
  .startDate{
    width: 13%;
  }
  .endDate{
    width: 13%;
  }

  .pagination{
    display: flex;
    align-items: center;
  }

  .paginationContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  .containerSelect{
    display: flex;
    position: relative;
    p{
      font-size: 14px;
      line-height: 16px;
      font-family: 'Poppins', sans-serif;
      color:#56657F;
      margin-left: 100px;
    }
  }
  .buttonArrow{
    color:#56657F;
    background: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 8px;
  }
  .left{
    margin-right: 16px;
  }
  .right{
    margin-left: 16px;
  }
  .buttonPagination{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#1C212D;
    padding: 8px 13px;
    font-size: 14px;
    cursor: pointer;
  }
  .activePage{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background-color: $button-color;
    cursor: pointer;
    border-radius: 4px;
    color:#fff;
  }
}