.layout{
  width: 100%;
  display: flex;
  justify-content: center;
}
.content{
  background-color: #fff;
  width: 95%;
  margin-top: 24px;
  box-shadow: 0px 6px 18px rgba(1, 74, 147, 0.14);
  border-radius: 4px;
  padding-bottom: 10px;
  border: 1px solid #E5E5E5;
}